<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch Database</title>
    <script src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js" defer></script>
    <script>
      window.OneSignalDeferred = window.OneSignalDeferred || [];
      OneSignalDeferred.push(async function(OneSignal) {
        await OneSignal.init({
          appId: "1cc3bbe9-5caa-4b19-9105-2413ebb671f8",
        });
      });
    </script>
</head>
<body>
    <h1>Watch Database</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Year</th>
                <th>Reference Number</th>
                <th>Size</th>
                <th>Brand</th>
            </tr>
        </thead>
        <tbody>
            {% for watch in watches %}
            <tr onclick="window.open('{{ watch[6] }}', '_blank')">
                <td>{{ watch[0] }}</td>
                <td>{{ watch[1] }}</td>
                <td>{{ watch[2] }}</td>
                <td>{{ watch[3] }}</td>
                <td>{{ watch[4] }}</td>
                <td>{{ watch[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>